@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@700&display=swap');

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://blog.kakaocdn.net/dn/bayPTQ/btrxVGuIEUb/j7rmQqegPmS3yFkRpoDh41/07-%EC%97%B0%EB%91%90%EC%83%89%EA%B7%B8%EB%9E%98%ED%94%BD-A-2022%EB%85%844%EC%9B%94-%EB%8B%AC%EB%A0%A5%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B4.png?attach=1&knm=img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
 background: linear-gradient(-45deg, #23a6d5, #e73c7e, #23a6d5, #e73c7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

h2 {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    background: linear-gradient(to right, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 12px;
    font-family: 'Nanum Pen Script', cursive;;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 100%;
    }
  }